<% include partials/header %>
<style>
    #button {
        text-align: center;
    }
    input[type="checkbox"] {
        margin-right: 5px;
        margin-top: 5px;
    }
    .pding {
        padding-left: 50px;
    }
    input[type="number"] {
        width: 50px;
    }
    #submitButton {
        height: 40px;
        background: #0062ff;
        border: none;
        color: white;
        border-radius: 18px;
        font-weight: bold;
        font-size: 125%;
    }
    .notVisible {
        display: none;
    }
    #textarea {
        width: 100%;
        height: 125px;
        font-size: 2.0rem;
        text-align: center;
        padding: 45px;
    }
    #textarea:focus {
        width: 100%;
        height: 125px;
        font-size: 2.0rem;
        padding: 5px;
        text-align: left;
    }
</style>
<div class="container">
    <div class="row">
        <div style="width: 70%; margin: 25px auto;">
            <% if(appointment.status == "R"){
                var d = appointment.appointmentdate;
                var month=d.getMonth()+1;
                %>
                <div class="form-group">
                    <p>Your Appointment With Doctor <%= appointment.doctorname%> Scheduled on Date
                        <%= d.getDate() + "/" + month + "/" + d.getFullYear()%>
                    Has Been Rejected By Doctor</p>
                </div>
                <% }%>
                <% if(appointment.status == "NC"){
                    var d = appointment.appointmentdate;
                    var month=d.getMonth()+1;
                    %>
                    <div class="form-group">
                        <p>Your Appointment With Doctor <%= appointment.doctorname%> Scheduled on Date
                            <%= d.getDate() + "/" + month + "/" + d.getFullYear()%>
                        Is Not Yet Confirmed By Doctor</p>
                    </div>
                    <% }%>
            <% if(appointment.status == "C"){
                var p = appointment.appointmentdate;
                var month=p.getMonth()+1;%>
                <div class="form-group">
                    <p>Your Appointment With Doctor <%= appointment.doctorname%> Scheduled on Date
                        <%= p.getDate() + "/" + month + "/" + p.getFullYear()%>
                    Has Been Confirmed By Doctor</p>
                </div>
                <div>
                    <p>Your Appointment Time : <%= appointment.time %></p>
                </div>
                <div>
                    <p>Please Be Present At The Clinic At The Assigned Appointment Time %></p>
                </div>
           <% }%>
            <% if(appointment.status == "CNF"){
                var d = appointment.appointmentdate;
                var month=d.getMonth()+1;
                var p = appointment.bookingdate;
                var Month=p.getMonth()+1; %>
                    <div class="form-group">
                        <p>Booking Date :<%= p.getDate() + "/" + Month + "/" + p.getFullYear()%></p>
                    </div>
                    <div class="form-group">
                        <p>Appointment Date :<%= d.getDate() + "/" + month + "/" + d.getFullYear()%></p>
                    </div>
                    <h1 style="text-align: center">Doctor Description</h1>
                    <div class="form-group">
                        <p>Doctor Name :<%= appointment.doctorname%></p>
                        <p>Contact Number :<%= appointment.doctorcn%></p>
                    </div>
                    <h1 style="text-align: center">Description</h1>
                    <div class="form-group">
                        <p><%= appointment.description%></p>
                    </div>
    
                    <h1 style="text-align: center">Prescription</h1>
                    <div class="form-group">
                        <p><%= appointment.prescription%></p>
                    </div>
    
                    <h1 style="text-align: center">Bill Amount</h1>
                    <div class="form-group">
                        <p><%= appointment.billamount%></p>
                    </div>
                    <% }%>
        </div>
    </div>
</div>
<% include partials/footer %>
