<% include partials/header %>
<style>
    .container {
        text-align: left;
        font-size: 150%;
            }
    .brdr {
        border: 1px solid gray;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .amt {
        width: 10%;
    }
    .btn {
        font-size: 100%;
    }
    .pding {
        margin-top: 1%;
    }
</style>
<div class="container">
    <div class="row">
        <div style="width: 70%; margin: 25px auto;">
            <% if(appointment.status == "NC"){%>
                <form id="form" action="/doctorhome/<%= pm.id %>" method="POST">
                <div class="form-wrapper">
						<label for="pw1">Appointment Time</label>
						<input name="time" id="pw1" type="time" class="form-control" required >
                </div>
                <div class= "pding" style="text-align: center">
                        <button name="status" value="C" style="width: 20%" id="submitButton">Accept</button>
                        <button name="status" value="R" style="width: 20%" id="submitButton">Reject</button>
                    </div>
                </form><% }%>
            <% if(appointment.status == "C"){%>
            <form id="form" action="/doctorhome/<%= pm.id %>" method="POST">
                <h1 style="text-align: center">Add Description</h1>
                <div class="form-group">
                    <textarea id="textarea" form="form" class="form-control" name="description" placeholder="Description" required></textarea>
                </div>

                <h1 style="text-align: center">Add Prescription</h1>
                <div class="form-group">
                    <textarea id="textarea" form="form" class="form-control" name="prescription" placeholder="Prescription" required></textarea>
                </div>

                <div class="form-wrapper">
						<label for="pw1">Add Bill Amount</label>
						<input class="amt" name="billamount" type="number" class="form-control" required >
                </div>
                
                <div style="text-align: center">
                    <button class="btn-success btn" style="width: 20%" name="status" value="CNF" id="submitButton">Submit</button>
                </div>
            </form><% }%>
            <% if(appointment.status == "CNF"){
                var d = appointment.appointmentdate;
                var month=d.getMonth()+1;
                var p = appointment.bookingdate;
                var Month=p.getMonth()+1; %>
                    <div class="form-group brdr">
                        <p>Booking Date :<%= p.getDate() + "/" + Month + "/" + p.getFullYear()%></p>
                        <p>Appointment Date :<%= d.getDate() + "/" + month + "/" + d.getFullYear()%></p>
                    </div>
                    
                    
                    <div class="form-group brdr">
                            <h1>Patient Description</h1>
                        <p>Patient Name :<%= appointment.patientname%></p>
                        <p>Contact Number :<%= appointment.patientcn%></p>
                        <%if(appointment.patientid){%><a href="/history/<%= appointment.patientid._id%>" class="btn btn-success">Appointment History</a><%}%>
                    </div>
                    <div class="brdr">
                    <div class="form-group">
                            <h1>Description</h1>
                        <p><%= appointment.description%></p>
                    </div>
    
                    
                    <div class="form-group">
                            <h1>Prescription</h1>
                        <p><%= appointment.prescription%></p>
                    </div>
    
                    
                    <div class="form-group">
                            <h1>Consulting charges</h1>
                        <p>₹<%= appointment.billamount%></p>
                    </div>
                    </div>
                    <% }%>
        </div>
    </div>
</div>
<% include partials/footer %>
