<% include partials/header %>
<style>
    .search {
        margin-bottom: 1%;
        text-align: center;
    }
    img {
        border-radius: 50%;
    }
</style>
 <div class="container">
        <div class="search">
                <form action="/doctors" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Doctor's Name" class="form-control">
                        <input type="submit" value="Search" class="btn btn-search">
                    </div>
                </form>
            </div>
            <%if(noMatch){%>
            <h1 style="text-align: center;">No Match Found :(</h1>
            <%}else{%>
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% doctors.forEach(function(doctor){
            if(doctor.type == "doctor"&&doctor.address) {%>
            <div class="col-md-6 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h3><%= doctor.fname %></h3>
                   </div>
                  <div style="height: 100px; width: 100px; margin-left: 41%;">    
            <img class="img" class="img-responsive" src="<%= doctor.image %>" height="100px" width="100px"><br>
                </div>
            <p style="font-size: 130%;">
                       <% if(String(doctor.description).length > 60) {%>
                        <%= String(doctor.description).slice(0,60) + "..." %>
                        <%} else{%>
                        <%= String(doctor.description)%>
                        <%}%>
                    </p> 
                    <p style="font-size: 140%;">
<<<<<<< HEAD
                        <%= String(doctor.address).slice(0,20) +"..." %>
=======
                        <% if(String(doctor.address).length > 40) {%>
                            <%= String(doctor.address).slice(0,40) + "..." %>
                            <%} else{%>
                            <%= String(doctor.address)%>
                            <%}%>
>>>>>>> dc8e7fa7e8cb16fcbc1f8ec4aeb86895b8784cfb
                    </p>
                   <p>
                       <a href="/doctors/<%= doctor.id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }}); %>
    </div>
</div><%}%>

<% include partials/footer %>