<% include partials/header %>
<style>
    .form {
        padding: 0 1% 0 1%;
    }
</style>
<% if(!appointments[0]&&!oappointments[0])
{%>
    <h1 style="margin: 1%;">NO APPOINTMENT DATA FOUND</h1>
<% }
else { %>
<fieldset>
        <h3 style="margin-left: 1%;">Appointment Schedule</h3>
        <table style="margin: 0 1% 0 1%;" class="table table-borderless" >
            <tr>
            <th>Patient Name</th>
            <th>Contact Number</th>
            <th>Date</th> 
            <th>Time</th> 
            <th>Details</th>
            </tr>
        <% appointments.forEach(function(appointment){ 
            if(appointment.status!="R"){%>
        
                <tr>
                <% var month = appointment.appointmentdate.getMonth() +1; %>
                <td><%= appointment.patientname.toUpperCase() %></td>
                <td><%= appointment.patientcn %></td>
                <td><%= appointment.appointmentdate.getDate() + "/" + month + "/" + appointment.appointmentdate.getFullYear() %></td> 
                <% if(appointment.status=="C")
                {%>
                    <td><%= appointment.time %></td>
                <%}else{%>
                    <td>Completed</td>    
                <%}%>
                <td><a href="/doctorhome/<%= appointment._id %>" class="btn btn-primary">View Details</a></td>
            </tr>
        <% }}) 
         oappointments.forEach(function(appointment){ 
            if(appointment.status!="R"){%>
            <tr>
                <% var month = appointment.appointmentdate.getMonth() +1; %>
                <td><%= appointment.patientname.toUpperCase() %></td>
                <td><%= appointment.patientcn %></td>
                <td><%= appointment.appointmentdate.getDate() + "/" + month + "/" + appointment.appointmentdate.getFullYear() %></td> 
                <% if(appointment.status=="NC"){%>
                    <td>Not Confirmed</td>
                <%}%>
                <td><a href="/doctorhome/<%= appointment._id %>" class="btn btn-primary">View Details</a></td>
            </tr>
        <% }}) %>
    </table>
    </fieldset>
<% } %>
<%if(addappo){%>
<form id="signup" method="POST" action="/addappointment" >
    <% var month = T.getMonth() +1; %>
        <div class="form">
            <table class="table table-borderless" >
            <tr>
            <td style="width: 15%;"><input name="patientname" type="text" class="form-control" placeholder="Patient's Name" required></td>
            <td style="padding-left: 5.5%; padding-right: 5%;"><input name="patientcn" type="text" class="form-control" placeholder="Contact Number" required></td>
            <td style="padding-left: 0.5%;"><%= T.getDate() + "/" + month + "/" + T.getFullYear() %></td> 
            <td style="width: 23%;"></td>
            <td style="padding-left: 2%;"><button class="btn btn-success" name="appointmentdate" value="<%= T %>" id="register">Add Appointment</button></td>
            <tr>
            </table>
        </div>
    </form>
<%}%>
<% include partials/footer %>