<% include partials/header %>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<style>
    h1 {
        font-family: 'Open Sans', sans-serif;
    }
    #description {
        font-size: 125%;
        font-weight: 500;
    }
    .description {
        border: 1px solid rgba(0,0,0,0.2);
        padding-left: 5px;
    }
    th {
        font-size: 125%;
        text-align: left;
    }
    #button {
        font-weight: bold;
        padding: auto;
        font-size: 110%;
    }
    .review {
        border: 1px solid rgba(0,0,0,0.2);
        padding-left: 1%;
    }
    #delete {
        display: inline;
    }
</style>
<div class = container>
    <h1><%= "Dr " + doctor.fname + " " +doctor.lname %></h1>
    <p style="font-weight: 800; font-size: 125%"><%= "Email: " + doctor.email %></p>
    <div class="description">
        <h3><b>ABOUT DOCTOR <%= doctor.fname.toUpperCase() + " " +doctor.lname.toUpperCase() %></b></h3>
        <p id="description"><%= doctor.description %></p>
    </div>
    <fieldset>
        <h3>Available Timings</h3>
        <table class="table table-borderless" >
            <tr>
            <th>Day</th>
            <th>From</th> 
            <th>To</th>
            </tr>
        <% doctor.schedule.forEach(function(schedule){ %>
            <tr>
                <td><%= schedule.day.toUpperCase() %></td>
                <td><%= schedule.from + ":00" %></td> 
                <td><%= schedule.to + ":00" %></td>
            </tr>
        <% }) %>
        </table>
    </fieldset>
    <% if((!currentuser)||(currentuser.type=="patient")) {%>
    <div>
            <a id="button" class="btn btn-success" href="/doctors/<%= doctor._id %>/bookappointment">Book Appointment</a>
    </div>
    <% } %>
    <%
    var i=0,sum=0;
    doctor.appointments.forEach(function(appointment){
        if(appointment.status=="CNF")
        {
            sum+=Number(appointment.billamount);
            i++;
        }
    })
    var acpu=Math.round(sum/i);%>
    <h4><strong>Average Consulting Charges:</strong> <%=acpu%></h4>
    <div class="review">
    <h2>REVIEWS</h2>
    <fieldset class="container">
    <% doctor.reviews.forEach(function(review){ %>
        <p style="font-size: 125%;">
            <form id="delete" action="">
            <strong><%= review.author.username %></strong> - <%= review.text %> 
            if(currentuser){if(currentuser){<input type="button" value="Delete" class="btn btn-danger">}}
        </form>
        </p>
    <% }) %>
    </fieldset>
    <% if((!currentuser)||(currentuser.type=="patient")) {%>
    <p>
        <a id="button" class="btn btn-success" href="/doctors/<%= doctor._id %>/newreview">Leave a review</a>
    </p>
    </div>
    <% }%>
</div>
<% include partials/footer %>