<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <!--
    ArcGIS API for JavaScript, https://js.arcgis.com
    For more information about the intro-mapview sample, read the original sample description at developers.arcgis.com.
    https://developers.arcgis.com/javascript/latest/intro-mapview/index.html
    -->
    <title>CLIINIC APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link rel="icon" href="https://previews.123rf.com/images/jroblesart/jroblesart1501/jroblesart150100031/35459605-medical-symbol-caduceus-with-snakes-and-wings.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <style>
         h1 {
        font-family: 'Open Sans', sans-serif;
        }
        #description {
            font-size: 125%;
            font-weight: 500;
        }
        .description {
            border: 1px solid rgba(0,0,0,0.2);
            padding-left: 5px;
        }
        th {
            font-size: 125%;
            text-align: left;
        }
        #button {
            font-weight: bold;
            padding: auto;
            font-size: 110%;
            margin: 1% 0 0 3%;
        }
        .review {
            border: 1px solid rgba(0,0,0,0.2);
            padding-left: 1%;
            padding-right: 1%;
            margin-bottom: 3%;
        }
        #delete {
            display: inline;
        }
        .address {
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 1%;
            width: 60%;
            padding-left: 1%;
            padding-right: 1%;
            padding-top: 1%;
            float: inherit;
        }
        .img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
        .x {
            position: relative;
            justify-content: center;
            overflow: hidden;
        }
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 45%;
        }
        #logo {
            font-family: 'Courgette', cursive;
            font-size: 150%;
        }
        a {
            font-size: 120%;
        }
    </style>
  <script src="https://js.arcgis.com/4.8/"></script>
</head>

<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="logo" class="navbar-brand" href="/">ClinicApp</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/doctors">View Doctors</a></li>
                            <% if(!currentuser){ %>
                            <li><a href="/signin">Login</a></li>
                            <li><a href="/signup">Sign-up</a></li>
                            <% } else { 
                                if(currentuser.type == "doctor"){ %>
                                    <li><a href="#">Signed In As Dr <%= currentuser.fname %></a></li>
                                    <% if(!currentuser.description){ %>
                                    <li><a href="/details/<%= currentuser._id %>">Add Details</a></li>
                                    <% } %>
                                    <li><a href="/aplist">Appointments</a></li>
                                    <li><a href="/stats">Stats</a></li>
                                <% } 
                                if(currentuser.type == "patient"){ %>
                                    <li><a href="#">Signed In As <%= currentuser.fname %></a></li>
                                    <li><a href="/patienthome">My Appointments</a></li>
                                <% } %>
                            <li><a href="/logout">Logout</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
        
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                <% if(warning && warning.length > 0){ %>
                    <div class="alert alert-warning" role="alert">
                        <%= warning %>
                    </div>
                <% } %>
                <% if(info && info.length > 0){ %>
                    <div class="alert alert-info" role="alert">
                        <%= info %>
                    </div>
                <% } %>
            </div>
  <div class="container">   
      <h1></h1>
    <div class="x">    
            <img class="img" class="img-responsive" src="<%= doctor.image %>" width="200px" height="500px"><br>
            </div>
           <% if(currentuser && doctor._id.equals(currentuser._id)){%>
            <div>
                <a id="button" class="btn btn-primary" href="/picupdate">Update Profile</a>
            </div><%}%>
            <h1><%= "Dr " + doctor.fname + " " +doctor.lname %></h1>
            
            <p style="font-weight: 800; font-size: 125%"><%= "Email: " + doctor.email %></p>
            
            <div class="address">
            <legend style="font-size: 125%;">Address</legend>
            
            <p style="font-size: 125%;"><%= doctor.address %></p>
            <div id="viewDiv"></div>
        </div>
        
            <div style="padding: 1%;" class="description">
                <legend>About Dr <%= doctor.fname + " " +doctor.lname %></legend>
                <p id="description"><%= doctor.description %></p>
            </div>
            <fieldset>
                <h3>Available Timings</h3>
                <table class="table table-borderless" >
                    <tr>
                    <th>Day</th>
                    <th>From</th> 
                    <th>To</th>
                    </tr>
                <% doctor.schedule.forEach(function(schedule){ %>
                    <tr>
                        <td><%= schedule.day.toUpperCase() %></td>
                        <td><%= schedule.from + ":00" %></td> 
                        <td><%= schedule.to + ":00" %></td>
                    </tr>
                <% }) %>
                </table>
            </fieldset>
            <%if(currentuser && doctor._id.equals(currentuser._id)){%>
            <div>
                <a style="font-weight: bold;" class="btn btn-primary" href="/profileupdate">Update Appointment Schedule</a>
        </div><% } %>
            <% if((!currentuser)||(currentuser.type=="patient")) {%>
            <div>
                    <a class="btn btn-success" href="/doctors/<%= doctor._id %>/bookappointment">Book An Appointment</a>
            </div>
            <% } %>
            <%
            var i=0,sum=0;
            doctor.appointments.forEach(function(appointment){
                if(appointment.status=="CNF")
                {
                    sum+=Number(appointment.billamount);
                    i++;
                }
            })
            var acpu=Math.round(sum/i);%>
            <h4><strong>Average Consulting Charges:</strong> <%=acpu%></h4>
            <div class="review">
            <h3>REVIEWS</h3>
            <% doctor.reviews.forEach(function(review){ %>
                <p style="font-size: 125%;">
                    <strong><%= review.author.username %></strong> - <%= review.text %> 
                    <% if(currentuser && review.author.id.equals(currentuser._id)){ %>
                        <form id="delete-form" action="/doctors/<%=review._id %>/deletereview" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    <% } %>
                </p>
            <% }) %>
  </div>

    <script>
        require(["esri/Map", "esri/views/MapView"], function(Map, MapView) {
        const map = new Map({
            basemap: "streets-navigation-vector"
        });

        const view = new MapView({
            container: "viewDiv",
            map: map,
            zoom: 15,
            center: {
            latitude: <%-doctor.loc.y%>,
            longitude: <%-doctor.loc.x%>
            }
        });

        view.graphics.add({
            symbol: {
            type: "text",
            color: "#7A003C",
            text: "\ue61d", // esri-icon-map-pin
            font: {
                size: 30,
                family: "CalciteWebCoreIcons"
            }
            },
            geometry: {
            type: "point",
            latitude: <%-doctor.loc.y%>,
            longitude: <%-doctor.loc.x%>
            },
            popupTemplate: {
            title: "Doctors Address : "+ <%-JSON.stringify(doctor.address);%>
            }
        });
        });
    </script>
</body>
</html>
